<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="index.css">
    <meta charset="utf-8">
    <title>DeBray and Briy's Web Scraper App</title>
  </head>
  <body>
    <header>
      <h1>Black Negus Whistle Tip Scraper</h1>
      <h2>Cinema Movies</h2>
    </header>
    <div id="navbar">
      <a href="/">HOME</a>
      <a href="/cinema">Cinema Movies</a>
      <a href="/imdb">Top IMdB Movies</a>
    </div>
    <header>
    <div id="wrapper" style="text-align: center">
      <div id="movies-div">
      <ul>
      <% for(let i=0; i<cinemamovies.length; i++) { %>
          <li>
              <a href='<%= cinemamovies[i].url %>'>
      <p><%= cinemamovies[i].title %></p>
    </a>
  </li>
  <% } %>
  </ul>
  </div>
</div>
<div id="footer">
    <p>DeBray and Briy's Movie Web Scraper</p>
</div>
  </body>
</html>
