<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="index.css">
    <meta charset="utf-8">
    <title>DeBray and Briy's Web Scraper App</title>
  </head>
  <body>
    <header>
      <h1>Black Negus Whistle Tip Scraper</h1>
    </header>
    <div id=hdmovies-list>
      <h2>HD Movies List</h2>
      <ul>
        <% for(let i=0; i<hdmovies.length; i++) { %>
          <li>
            <a href='<%= hdmovies[i].url %>'>
              <p><%= hdmovies[i].title %></p>
            </a>
          </li>
          <% } %>
        </ul>
    </div>
    <div id=cinemamovies-list>
      <h2>Cinema Movies List</h2>
      <ul>
  <% for(let i=0; i<cinemamovies.length; i++) { %>
    <li>
      <a href='<%= cinemamovies[i].url %>'>
        <p><%= cinemamovies[i].title %></p>
      </a>
    </li>
    <% } %>
  </ul>
    </div>
  </body>
</html>
